{% load static %}

<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="{% static 'styles/view_bounty_list.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bounty_container.css' %}">
    <link rel="stylesheet" href="{% static 'styles/topbar.css' %}">
    <script src="{% static 'scripts/change_observe_image.js' %}"></script>
</html>

<body>
    <div id="topbar">
        <a href="{% url 'bounties' %}">
            <div id="topbar-logo">Bounty-Hunters</div>
        </a>
        <form method="GET">
            <div id="topbar-middle-grid-container">
                <div class="topbar-middle-grid-title">-- Name --</div>
                <div class="topbar-middle-grid-title">-- Reward --</div>
                <div class="topbar-middle-grid-title">-- Difficulty --</div>
                <input type="submit" value="Search"/>
                <!--<button id="topbar-middle-grid-search-button" type="submit">Search</button>-->
                <input type="text" name="search-name" value="{{ search_input_name }}" style="width: 192px;"/>
                <div style="display:flex">
                    <input type="text" name="search-reward-lowest" value="{{ search_input_reward_lowest }}"/> &nbsp;-&nbsp;
                    <input type="text" name="search-reward-highest" value="{{ search_input_reward_highest }}"/>
                </div>
                <div style="display:flex">
                    1 <input type="checkbox" name="search-difficulties[]" value="{{ search_input_difficulty_1 }}"/>
                    &nbsp;2 <input type="checkbox" name="search-difficulties[]" value="{{ search_input_difficulty_2 }}"/>
                    &nbsp;3 <input type="checkbox" name="search-difficulties[]" value="{{ search_input_difficulty_3 }}"/>
                    &nbsp;4 <input type="checkbox" name="search-difficulties[]" value="{{ search_input_difficulty_4 }}"/>
                    &nbsp;5 <input type="checkbox" name="search-difficulties[]" value="{{ search_input_difficulty_5 }}"/>
                </div>
            </div>
        </form>
        <div id="topbar-user">
            {% if request.user.is_authenticated %}
            <a href="{% url 'user-profile' request.user.id 'created' %}">{{request.user}}</a>
            <a href="{% url 'logout' %}?next=/">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'register' %}">Create new account</a>
            {% endif %}
        </div>
    </div>

    <div id="bounties_container">
        {% for bounty in bounties %}
        <div class="bounty-container">
            <div style="display: flex; justify-content: space-between;">
                <div class="bounty-wanted-sign"></div>
                <div class="bounty-name-frame">
                    <div class="bounty-name-text">
                        {{bounty.target_name}}
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <form action="update-observe/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="bounty_id" value={{ bounty.id }} readonly/>
                    
                    <input type="image" name="submit" alt="Submit"
                           {% if bounty.observed %}
                           src={% static 'images/eye_opened.png' %}
                           {% else %}
                           src={% static 'images/eye_closed.png' %}
                           {% endif %}
                           style="height: 36px; width: 36px; margin-right: 42px; margin-top: 28px;"/>
                </form>
                {% else %}
                <div style="height: 36px; width: 36px; margin-right: 42px; margin-top: 28px;"></div>
                {% endif %}
            </div>
            <div style="display: flex;">
                <div class="bounty-picture-frame">
                    {% if bounty.target_photo != Null %}
                    <img src={% static 'bounty.target_photo' %} class="bounty-picture-image"/>
                    {% else %}
                    <img src={% static 'images/techno.png' %} class="bounty-picture-image"/>
                    {% endif %}
                </div>
                <div class="bounty-description-frame">
                    <div class="bounty-description-text">
                        {{bounty.target_description}}
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <div class="bounty-difficulty-frame">
                    <div class="bounty-difficulty-text">
                        {{bounty.target_difficulty}}
                    </div>
                </div>
                <div class="bounty-reward-frame">
                    <div class="bounty-reward-text">
                        {{bounty.target_reward}}
                    </div>
                </div>
            </div>
        </div>

        {% empty %}
        <h3>No bounties</h3>

        {% endfor %}
    </div>
    <div style="height: 100px"></div>
</body>