@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/yoster.ttf')
}

body {
    background-color: #565656;
    margin: 0px;
    overflow-y: scroll;
    font-family: 'PixelFont';
}

#profile-container {
    background-image: url("../images/wooden_board_profile.png");
    background-repeat: no-repeat;
    background-size: contain;

    height: 322px;
    width: 800px;
}

.category {
    background-image: url('../images/category_image.png');
    background-repeat: no-repeat;
    background-size: contain;

    height: 56px;
    width: 400px;

    color: black;
    font-size: 36px;
    padding-top: 40px;
    text-shadow: none;
}

#bounties_container {
    width: 800px;
    margin: auto;
}