@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/yoster.ttf')
}

body, button {
    overflow-y: scroll;
    font-family: 'PixelFont';
}

body{
    background-color: #565656;
    margin: 0px;
}



#bounties_container {
    width: 800px;
    margin: auto;
    margin-top: 64px;
}